<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title style="padding: unset;">
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            <ion-icon name="business-outline" class="back_arrow"></ion-icon>
          </ion-col>
          <ion-col>
             <span class="header_title">Shoe Store</span>
          </ion-col>
          <ion-col size="4.5">
            <div style="display: flex;">
              <ion-icon name="location-outline" class="header_location_icon"></ion-icon>
              <span class="header_sub_title">Durgapur</span>
              <ion-icon name="chevron-down-outline" class="header_right_down"></ion-icon>
            </div>
              
         </ion-col>
        </ion-row>
      </ion-grid>
     
    </ion-title>
  </ion-toolbar>
