<app-header></app-header>



<ion-content [fullscreen]="true" style="background: #fff;">
  <app-skeleton loader_for="shop_list"></app-skeleton>
  <app-skeleton loader_for="shop_list" *ngIf="showLoader; else content;"></app-skeleton>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor ="let store of storeList" (click)="getProductList(store)">
        <ion-card style="margin: unset;">
          <img src="https://i.pinimg.com/originals/75/e7/0f/75e70f7d62a0117ceae1b4151811ab83.jpg" />
          <ion-card-header style="padding: unset; text-align: center;">
            <ion-card-title>{{store.shopName}}</ion-card-title>
            <ion-card-subtitle>{{store.shop_address}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ng-template #content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="storeList.length > 0 ; else noStore ">
      <ion-card *ngFor = "let store of storeList" (click)="getProductList(store)" style="margin: unset;">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="https://i.pinimg.com/originals/75/e7/0f/75e70f7d62a0117ceae1b4151811ab83.jpg" />
            </ion-col>
            <ion-col>
              <ion-card-title>{{store.shopName}}</ion-card-title>
                <ion-card-subtitle>{{store.shop_address}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <ng-template #noStore>

      <div class="no_item">
        <p style="margin: unset;"><ion-icon name="alert-circle-outline"></ion-icon></p>
        <p style="margin: unset;"><span>No store available</span></p>
      </div>
    </ng-template>
    
  </ng-template>

  

</ion-content>
