<app-header-back></app-header-back>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img src="https://i.pinimg.com/originals/75/e7/0f/75e70f7d62a0117ceae1b4151811ab83.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor = "let product of shopProduct" (click)="getProductDetails(product.products)">
            <ion-card style="margin: unset;">
              <img  [src]="getRandomImages(product.images)" />
              <ion-card-header style="padding: unset; text-align: center;">
                <ion-card-title>{{product.name | titlecase}}</ion-card-title>
                <ion-card-subtitle>{{product.brand}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Price between {{product.minPrice | currency:'INR'}} - {{product.maxPrice | currency:'INR'}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
