<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title style="padding: unset;">
      <ion-grid>
        <ion-row>
          <ion-col size="1.5" (click)="getBack()">
            <ion-icon name="chevron-back-outline" class="back_arrow"></ion-icon>
          </ion-col>
          <ion-col>
             <p class="header_title">Shop Products</p>
          </ion-col>
        </ion-row>
      </ion-grid>
     
    </ion-title>
  </ion-toolbar>
