
<div *ngIf="loader_for == 'shop_list' ">
  <ion-card *ngFor="let item of [].constructor(5);">
    
    <ion-item>
      <ion-skeleton-text animated class="left_image" slot="start"></ion-skeleton-text>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-card>
</div>


