/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$edit_color : #2874f0;
$header_font_size : 1rem;
ion-content{
    // background : url('https://as2.ftcdn.net/jpg/01/08/70/99/500_F_108709964_ms7AmPsf9UxMfnjI5q7VyhejbAqNFUVs.jpg') !important;
    background-image: url('https://as2.ftcdn.net/jpg/01/08/70/99/500_F_108709964_ms7AmPsf9UxMfnjI5q7VyhejbAqNFUVs.jpg') !important;
}

/* For header and details * */

.header_title {
    margin: unset; 
    float: left;
    font-size: $header_font_size;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.4rem;
   
}

.header_sub_title {
    margin: unset;
    float: right;
    font-size: $header_font_size;
    font-weight: bold;
    max-width: 6rem;
    margin-top: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: $edit_color;
}

.back_arrow{
    font-size: 25px;
    margin: .2rem;
}

.header_right_down {
    margin-top: 0.7rem;
    margin-left: .4rem;
    font-size: 1rem;
}

.header_location_icon {
    margin-top: 0.4rem;
    margin-right: .4rem;
}

.no_item{
    text-align: center;
    font-size: 2rem;
    margin-top: 55%;
}

ion-card{
    background: #fff;
    box-shadow: unset;
    border-radius: 0px;
   // border-bottom: 1px solid #f2f3f6;
}
ion-card-title{
    color: #3d4152;
}